<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.bootstrapdash.com/demo/corona/jquery/pages/apps/todo-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Apr 2019 08:46:43 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gestion de Personnel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('frontAdmin/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('frontAdmin/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('frontAdmin/vendors/css/vendor.bundle.addons.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('frontAdmin/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('frontAdmin/css/customStyle.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ asset('frontAdmin/images/favicon.png') }}"/>

    <link rel="stylesheet" href="{{ asset('frontAdmin/css/flatpickr.min.css') }}">

</head>
<body>
<!-- partial:../../partials/_settings-panel.html -->
<div id="right-sidebar" class="settings-panel">
    <i class="settings-close mdi mdi-close"></i>
    <ul class="nav nav-tabs" id="setting-panel" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
               aria-controls="todo-section" aria-expanded="true">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
               aria-controls="chats-section">Chats</a>
        </li>
    </ul>
    <div class="tab-content" id="setting-content">
        <div class="tab-pane fade show active" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="wrapper scroll-wrapper">
                <div class="add-items d-flex px-3 mb-0">
                    <form class="form w-100">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control rounded" id="todo-list-input"
                                   placeholder="Add To-do">
                            <button type="submit" class="add btn btn-inverse-primary" id="add-task">Add</button>
                        </div>
                    </form>
                </div>
                <div class="list-wrapper px-3">
                    <ul class="d-flex flex-column-reverse" id="list-items">
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Team review meeting at 3.00 PM </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Prepare for presentation </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Resolve all the low priority tickets due
                                    today </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Schedule meeting for next week
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Project review </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                    </ul>
                </div>
                <div class="events text-muted py-4 border-bottom px-3">
                    <div class="wrapper d-flex mb-2">
                        <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                        <span class="text-gray">Feb 11 2017</span>
                    </div>
                    <p class="mb-1 font-weight-thin">Creating component page</p>
                    <p>build a js based app</p>
                </div>
            </div>
        </div>
        <!-- To do section tab ends -->
        <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <ul class="chat-list">
                <li class="list active">
                    <div class="profile"><img src="{{ asset('frontAdmin/images/faces/face1.jpg') }}" alt="image"><span
                                class="online"></span></div>
                    <div class="info">
                        <p>Thomas Douglas</p>
                        <p>Available</p>
                    </div>
                </li>
                <li class="list">
                    <div class="profile"><img src="{{ asset('frontAdmin/images/faces/face2.jpg') }}" alt="image"><span
                                class="offline"></span></div>
                    <div class="info">
                        <p>Thomas Douglas</p>
                        <p>Away</p>
                    </div>
                </li>
                <li class="list">
                    <div class="profile"><img src="{{ asset('frontAdmin/images/faces/face3.jpg') }}" alt="image"><span
                                class="online"></span></div>
                    <div class="info">
                        <p>Thomas Douglas</p>
                        <p>Available</p>
                    </div>
                </li>
                <li class="list">
                    <div class="profile"><img src="{{ asset('frontAdmin/images/faces/face4.jpg') }}" alt="image"><span
                                class="offline"></span></div>
                    <div class="info">
                        <p>Thomas Douglas</p>
                        <p>Away</p>
                    </div>
                </li>
                <li class="list">
                    <div class="profile"><img src="{{ asset('frontAdmin/images/faces/face5.jpg') }}" alt="image"><span
                                class="online"></span></div>
                    <div class="info">
                        <p>Thomas Douglas</p>
                        <p>Available</p>
                    </div>
                </li>
                <li class="list">
                    <div class="profile"><img src="{{ asset('frontAdmin/images/faces/face6.jpg') }}" alt="image"><span
                                class="online"></span></div>
                    <div class="info">
                        <p>Thomas Douglas</p>
                        <p>Available</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- chat tab ends -->
        <div class="tab-pane fade" id="theme-section" role="tabpanel" aria-labelledby="chats-section">
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="side-theme-dark">
                <div class="img-xs rounded-circle bg-dark border mr-3"></div>
                Dark
            </div>
            <div class="sidebar-bg-options" id="side-theme-light">
                <div class="img-xs rounded-circle bg-light border mr-3"></div>
                Light
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
                <div class="tiles primary" id="primary-theme"></div>
                <div class="tiles success" id="success-theme"></div>
                <div class="tiles warning" id="warning-theme"></div>
                <div class="tiles danger" id="danger-theme"></div>
                <div class="tiles pink" id="pink-theme"></div>
                <div class="tiles info" id="info-theme"></div>
                <div class="tiles dark" id="dark-theme"></div>
                <div class="tiles light" id="light-theme"></div>
            </div>
        </div>
        <!-- theme tab ends -->
    </div>
</div>
<!-- partial -->
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        {#logo#}
        {% include 'blockAdmin/logo.html.twig' %}

        {# navabar#}
        {% block navbar %}
            {% include 'blockAdmin/navbar.html.twig' %}
        {% endblock %}
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->


        {% block sidebar %}
            {% include 'blockAdmin/sidebar.html.twig' %}
        {% endblock %}

        <!-- partial -->
        <div class="main-panel">

            {#<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-inverse-danger rounded box-shadow">#}

                {#<div class="lh-100">#}
                    {#<h6 class="mb-0 text-white lh-100">Demande de congés </h6>#}
                    {#<small> Création d'une demande</small>#}
                {#</div>#}
            {#</div>#}

            <div class="content-wrapper">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}

                {% block body %}
                    {#{% include 'block/content.html.twig' %}#}
                {% endblock %}
            </div>
            <!-- content-wrapper ends -->

            <!-- partial:../../partials/_footer.html -->
            {% block footer %}
                {#{% include 'block/footer.html.twig' %}#}
            {% endblock %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

{% block  javascripts %}

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ asset('frontAdmin/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ asset('frontAdmin/vendors/js/vendor.bundle.addons.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{{ asset('frontAdmin/js/off-canvas.js') }}"></script>
    <script src="{{ asset('frontAdmin/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('frontAdmin/js/misc.js') }}"></script>
    <script src="{{ asset('frontAdmin/js/settings.js') }}"></script>
    <script src="{{ asset('frontAdmin/js/todolist.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->

    <script src="{{ asset('frontAdmin/js/light-gallery.js') }}"></script>
    <script src="{{ asset('frontAdmin/js/data-table.js') }}"></script>
    <script src="{{ asset('frontAdmin/js/flatpickr.js') }}"></script>
    <script src="{{ asset('frontAdmin/js/form-repeater.js') }}"></script>



    <script src="{{ asset('frontAdmin/js/custom/import.js') }}"></script>
    <script>
        $(document).ready(function () {

            $('.dateDebut').on('blur',function (e) {
                var currentDate  =  $(this).val();
                // console.log(currentDate);

                var splitDate  =currentDate.split("/");


                var day  = splitDate[0];
                var month  = splitDate[1];
                var year  = splitDate[2];
                var dateFilter  =  year +"-"+month+"-"+day;

                $('.dateFin').flatpickr({
                    minDate: new Date(dateFilter),
                    altInput: true,
                    altFormat: "d/m/Y",
                    // altFormat: "F j, Y",
                    dateFormat: "Y-m-d",
                });
            })
        })



    </script>


    {#<script src="https://code.jquery.com/jquery-1.12.4.min.js"#}
            {#integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"#}
            {#crossorigin="anonymous">#}
    {#</script>#}
    {#<script src="{{ asset('frontAdmin/js/jquery-input-mask-phone-number.js') }}">#}


    {#// </script>#}

    <!-- End custom js for this page-->
{% endblock %}

</body>

<!-- Mirrored from www.bootstrapdash.com/demo/corona/jquery/pages/apps/todo-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Apr 2019 08:46:44 GMT -->
</html>